@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    /* border: 2px solid red; */
}

/* Hide scrollbar but allow scrolling */
html {
    scrollbar-width: none; /* Firefox */
  }
  
  body {
    -ms-overflow-style: none; /* IE and Edge */
  }
  
  body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
  